/* ============================
   CSS Styles for Web Application
   ============================
*/

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* root styles */
:root {
  --primary-color: #ff6d05;
  --secondary-color: #2ecc71;
  --body-bg: linear-gradient(
    135deg,
  #c5ceff,
  #889eff,
  #7080ff,
  #7c6cff,
  #a565e8,
  #db5d8d
  );
  --text-color: #fefdfe;
  --h-font: "Poppins", sans-serif;
  --p-font: "Inter", sans-serif;
  --sm-size: 16px;
  --md-size: 18px;
  --lg-size: 45px;
  --xl-size: 60px;
  --border-radius: 8px;
  --transition: all ease-in-out 0.3s;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --shadow-hover: rgba(0, 0, 0, 0.2) 0px 6px 16px;
}

.dark-theme{
  --body-bg: linear-gradient(
    135deg,
     #0a1751,  /* Deep Night Blue */
    #2a3f8e,  /* Midnight Blue */
    #485cbd,  /* Twilight Blue */
    #5062d2,  /* Soft Lavender Blue */
    #906ddc,  /* Light Purple */
    #d68fbf /* Soft Pink */
);
}

/* header styles */
header {
  background-color: transparent;
  position: fixed;
  height: 60px;
  top: 0; 
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
  z-index: 1000;
}

theme-toggle-button {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  font-family: var(--p-font);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
theme-toggle-button:hover,
theme-toggle-button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.light-icon{
  display: inline-block;
}
.dark-icon{
  display: none;
}

/* body styles */
body {
  background: var(--body-bg);
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
}
.hero {
  position: relative;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 20px;
  gap: 20px;
}

.intro-div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  padding: 20px;
}

.intro-div img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}
.intro-div h1 {
  font-family: var(--h-font);
  font-size: var(--lg-size);
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  letter-spacing: -1px;
}
.intro-div p {
  font-family: var(--p-font);
  font-size: var(--md-size);
  color: var(--text-color);
  letter-spacing: 0px;
}

.search-div {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  flex: 1;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
}

.search-div input {
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;
  padding: 10px 10px 10px 30px;
  font-family: var(--p-font);
  font-size: 13px;
  border: 1px solid white;
  border-radius: 5px;
  transition: var(--transition);
  width: 550px;
}

.search-div input:focus {
  position: relative;
  outline: 1px solid black;
  outline-offset: 1px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3),
    0 0 10px rgba(255, 255, 255, 0.1);
}

.search-div input::placeholder {
  color:rgba(0, 0, 0, 0.6);
  font-family: var(--p-font);
  font-size: 13px;
  opacity: 0.8;
}

.search-div .search-icon {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert();
}

#search-button {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  font-family: var(--p-font);
  font-size: 13px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--shadow);
}

#search-button:hover,
#search-button:active,
#search-button:focus {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: var(--shadow-hover);
}

#location-button {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  font-family: var(--p-font);
  font-size: 13px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--shadow);
}

#location-button:hover,
#location-button:active,
#location-button:focus {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: var(--shadow-hover);
}

/* weather card styles */

.weather-info {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  color: var(--text-color);
  font-family: var(--p-font);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.7fr 1fr 0.5fr;
  grid-gap: 20px;
}
.loader {
  display: none;
  color: #ffffff;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}

.upper-div {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  grid-column: span 6;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

.location-units-div{
  font-family: var(--h-font);
  color: var(--text-color);
  font-size: 18px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.location-units-div select {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-family: var(--p-font);
  font-size: 14px;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6);
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
.location-units-div select:hover,
.location-units-div select:focus {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
}

.time-div {
  background-color:transparent;
  font-family: var(--p-font);
  color: var(--text-color);
  font-size: 16px;
  width: 100%;
  padding: 0 20px;
}

.weather-div {
  margin-top: 10px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.weather-div h1 {
  font-family: var(--h-font);
  color: var(--text-color);
  font-size: var(--lg-size);
  font-weight: 200;
  letter-spacing: -1px;
}
.weather-div sup{
  font-size: 0.5em;
  vertical-align: super;
  color: var(--text-color);
}

.weather-div img{
  width: 50px;
}

.weather-details p{
  font-family: var(--p-font);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 200;
}


.additional-info-div{
  width: 100%;
  padding: 0 20px;
  display: flex;
  margin-top: 20px;
  font-family: var(--p-font);
  color: var(--text-color);
  font-size: 14px;

}
.additional-weather-info-div {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  height: 300px;
  grid-column: span 6;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.wind-div {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  box-shadow: 0 1px 4px  rgba(0,0,0,0.2) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
  gap: 10px;
  transition: var(--transition);
  padding: 10px;
}

.humidity-div {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  box-shadow: 0 1px 4px  rgba(0,0,0,0.2) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
  gap: 10px;
  transition: var(--transition);
  padding: 10px;
}

.pressure-div {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  box-shadow: 0 1px 4px  rgba(0,0,0,0.2) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
  gap: 10px;
  transition: var(--transition);
  padding: 10px;
}

.visibility-div {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  box-shadow: 0 1px 4px  rgba(0,0,0,0.2) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
  gap: 10px;
  transition: var(--transition);
  padding: 10px;
}

.wind-dir-div {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  box-shadow: 0 1px 4px  rgba(0,0,0,0.2) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
  gap: 10px;
  transition: var(--transition);
  padding: 10px;
}

.sunset-sunrise-div {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  box-shadow: 0 1px 4px  rgba(0,0,0,0.2) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
  gap: 10px;
  transition: var(--transition);
  padding: 10px;
}

.sunrise-sunset-inner-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sunrise-div,
.sunset-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icon-div{
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 300;
}

.sunset-sunrise-div:hover,
.pressure-div:hover,
.wind-div:hover,
.humidity-div:hover,
.visibility-div:hover,
.wind-dir-div:hover {
  border: 1px solid rgba(255,255,255,1);
}
.five-day-forecast-div {
  border-radius: 20px;
  height: 200px;
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: 0px 0px 10px  rgba(255,255,255,0.2) inset;
  grid-gap: 20px;
  padding: 20px;
}

.weather-forecast-div {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: var(--transition);
}
.weather-forecast-div:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);

}
.weather-forecast-div p {
  font-family: var(--p-font);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
}

/* footer styles */
footer {
  color: var(--text-color);
  font-family: var(--p-font);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  width: 100%;
}

.copy-right {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 10px;
}
footer a {
  color: white;
  transition: var(--transition);
}

/* media queries for responsiveness */
@media (max-width: 700px) {
  .search-div {
    width: 500px;
  }
  .intro-div img {
    width: 80px;
    height: 80px;
  }

  .intro-div h1 {
    font-size: 36px;
  }
  .intro-div p {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .search-div {
    width: 370px;
  }
  .intro-div img {
    width: 80px;
    height: 80px;
  }

  .intro-div h1 {
    font-size: 36px;
  }
  .intro-div p {
    font-size: 14px;
  }
  .footer p {
    font-size: 10px;
  }
}

@media (max-width: 376px) {
  .search-div {
    width: 300px;
  }
  .intro-div img {
    width: 70px;
    height: 70px;
  }
  .search-div input {
    width: 100%;
    font-size: 10px;
  }
  .search-div input::placeholder {
    font-size: 10px;
  }

  .intro-div h1 {
    font-size: 32px;
  }
  .intro-div p {
    font-size: 12px;
  }
  .footer p {
    font-size: 10px;
  }
}
